.content-section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image-wrapper {
  width: 430px;
  margin: 10px;
  transform: none;
  position: relative;
  float: left;
}

.image {
  width: 100%;
  height: 290px;
  object-fit: cover;
  transition: transform 0.3s ease-in-out;
  box-shadow: none;
}

.image-wrapper:hover .image {
  transform: scale(1.1);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.item-details {
  text-align: center;
}

.item-name {
  font-size: 20px;
  font-weight: bold;
}

.shopButton {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
  background-color: #000;
  color: #fff;
  padding: 10px;
  text-decoration: none;
}

.image-wrapper:hover .shopButton {
  display: block;
}

/* This code will ensure that there are only 3 images in the first column and 3 in the second */
.image-wrapper:nth-child(3n+1) {
  clear: left;
}

/* This code will add some spaces on the left and right of the images */
.image-wrapper {
  margin-left: 50px;
  margin-right: 50px;
}
